/*
    Document   : styles
    Created on : 19-Nov-2012, 14:58:41
    Author     : John McGettrick
*/

.ccheckbox {
    text-align: center;
    padding: 8px 10px 2px !important;
}

.tii_digital_receipt {
    display: inline-block;
    width: 150px;
}
#tii_digital_receipt_box {
    padding: 20px;
    background: #fff;
}

#tii_digital_receipt_box .generaltable {
    width: 100%;
}

#tii_digital_receipt_box .logo {
    display: block;
    margin: 0 auto;
}

#tii_receipt_print {
    text-align: right;
    display: block;
}

#tii_digital_receipt_icon {
    margin-top: -3px;
    margin-right: 5px;
}

.mod_turnitintooltwo .submit_nothing img {
    padding-right: 8px;
    cursor: pointer;
}

.mod_turnitintooltwo .submission_form_container, .mod_turnitintooltwo .class_recreation, 
.mod_turnitintooltwo #digital_receipt {
    padding: 0 24px;
}

.mod_turnitintooltwo .row_score, .mod_turnitintooltwo .row_peermark_manager, .mod_turnitintooltwo .row_peermark_reviews {
    float:right;
}

.mod_turnitintooltwo .row_export_xls, .mod_turnitintooltwo .row_export_pdf, .mod_turnitintooltwo .row_export_orig, 
.mod_turnitintooltwo .zip_open, .mod_turnitintooltwo .row_rubric_manager, .mod_turnitintooltwo .row_quickmark_manager {
    display:inline;
}

.mod_turnitintooltwo .zip_downloads {
    float:left;
    position:relative;
    top:4px;
    height:22px;
}

.mod_turnitintooltwo .zip_downloads img {
    position:relative;
    top:4px;
    left:-2px;
}

.mod_turnitintooltwo .zip_downloads a.gmpdfzip_box {
    padding-left:16px;
}

.mod_turnitintooltwo .zip_downloads div.origchecked_zip_open {
    padding-left:16px;
}

.mod_turnitintooltwo .toggle_peermark_instructions img {
    display: block;
}

.mod_turnitintooltwo .hidden_class, .mod_turnitintooltwo #user_role, .mod_turnitintooltwo .launch_form, 
.mod_turnitintooltwo #useragreement_form form, .mod_turnitintooltwo #assignment_id, .mod_turnitintooltwo #course_id, 
.mod_turnitintooltwo #submission_id, .mod_turnitintooltwo #tii_course_id, .mod_turnitintooltwo #tii_course_name, 
.mod_turnitintooltwo .enrolling_container, .mod_turnitintooltwo .zip_downloads, .mod_turnitintooltwo #view_context, 
.mod_turnitintooltwo #inbox_form, .mod_turnitintooltwo .unanonymise_form, .mod_turnitintooltwo .edit_course_end_date_form, 
.mod_turnitintooltwo #course_category, .mod_turnitintooltwo #class_ids, .mod_turnitintooltwo #create_assignments,
.mod_turnitintooltwo .row_peermark_reviews, .mod_turnitintooltwo .peermark_instructions, 
.mod_turnitintooltwo .toggle_peermark_instructions img.hide_peermark_instructions,
.mod_turnitintooltwo #courseBrowserTable_filter, .mod_turnitintooltwo .js_required,
.mod_turnitintooltwo #course_category, .mod_turnitintooltwo #create_assignments,
#page-admin-setting-modsettingturnitintooltwo .tii_upgrading_check, #page-admin-setting-modsettingturnitintooltwo #test_link, 
#page-admin-setting-modsettingturnitintooltwo #test_result, #page-admin-setting-modsettingturnitintooltwo .test_connection, 
#page-admin-setting-modsettingturnitintooltwo #testing_container, .mod_turnitintooltwo .peermark_loading, 
.mod_turnitintooltwo .messages_loading, .mod_turnitintooltwo #tii_table_functions, .mod_turnitintooltwo .refresh_row .fa-spinner, 
.mod_turnitintooltwo #enrolling_error, .mod_turnitintooltwo .dv_url {
    display:none;
}

.mod_turnitintooltwo .late_submission {
    color: #d31900;
}

.tii_unanonymise_reveal_form .unanonymise_form, .mod_turnitintooltwo .edit_course_end_date_form {
    background:#FFFFFF;
    padding:12px 12px 0;
    height:100%;
    overflow: hidden
}

.mod_turnitintooltwo .edit_course_end_date_form {
    padding-top:24px;
}

.tii_unanonymise_reveal_form .unanonymise_form textarea {
    height: 90px;
    width:80%;
}

.mod_turnitintooltwo .grademark_open, .mod_turnitintooltwo .origreport_open, .mod_turnitintooltwo .download_original_open, 
.mod_turnitintooltwo .zip_open, .mod_turnitintooltwo .enrol_link, .mod_turnitintooltwo .refresh_link, 
.mod_turnitintooltwo .refresh_row, .mod_turnitintooltwo .messages_inbox, .mod_turnitintooltwo span.link,
.mod_turnitintooltwo .rubric_manager_launch, .mod_turnitintooltwo .rubric_view_launch, 
.mod_turnitintooltwo .quickmark_manager_launch, .mod_turnitintooltwo .peermark_manager_launch, 
.mod_turnitintooltwo .peermark_reviews_launch, #page-admin-setting-modsettingturnitintooltwo #test_link {
    cursor:pointer;
}

.mod_turnitintooltwo .introduction, .mod_turnitintooltwo #tabs {
    clear:both;
}

.mod_turnitintooltwo .introduction, .mod_turnitintooltwo .peermark_instructions {
    padding: 6px 10px;
    border-bottom: 1px solid #999999;
    display:none;
}

.mod_turnitintooltwo .introduction h2 {
    margin:8px 0;
}

.mod_turnitintooltwo .introduction p {
    margin:6px 0;
}

.mod_turnitintooltwo .toggle_summary, .mod_turnitintooltwo .toggle_peermarks, 
.mod_turnitintooltwo .toggle_peermark_instructions {
    cursor: pointer;
    float:left;
    position: relative;
    top:-3px;
    margin-right:8px;
}

.mod_turnitintooltwo .peermark_instructions_spacer {
    float: left;
    width:28px;
    height:16px;
}

.mod_turnitintooltwo #page-header .navbar {
    border: 1px solid #DDDDDD;
}

.mod_turnitintooltwo .navbar {
    border: 1px solid #999999;
}

.mod_turnitintooltwo .partDetails {
    font-size: 13px;
    margin-bottom:0px;
    width:100%;
    border: 1px solid #999999;
}

.mod_turnitintooltwo .partDetails th {
    padding: 6px 12px 6px;
    border-bottom: 1px solid #999999;
}

.mod_turnitintooltwo .partDetails td {
    border: 1px solid #999999;
    border-top: 0;
    padding: 12px 12px 4px;
}

.mod_turnitintooltwo .partDetails td.data, .mod_turnitintooltwo .partDetails td.export_data, 
.mod_turnitintooltwo .partDetails td.rubric_qm {
    text-align: center;
}

.mod_turnitintooltwo .partDetails td.export_data {
    padding-top:12px;
}

.mod_turnitintooltwo .partDetails td.introduction_cell, 
.mod_turnitintooltwo .partDetails td.peermark_assignments_cell .peermarkDetails td.peermark_instructions_cell {
    border:0;
    padding:0;
}

.mod_turnitintooltwo .partDetails td.peermarks {
    border:0;
}

.mod_turnitintooltwo .peermarkDetails {
    width:100%;
    margin-bottom:0px;
}

.mod_turnitintooltwo .partDetails td.peermark_assignments_cell {
    padding:0;
    border:0;
}

.mod_turnitintooltwo .partDetails td.peermark_assignments_cell .peermarkDetails td {
    padding:8px 12px;
}

.mod_turnitintooltwo .peermark_assignments_container {
    border-top: 1px solid #999999;
}

.mod_turnitintooltwo .peermark_assignments_cell .peermarkDetails td.lastcol {
    border-right: 0;
}

.mod_turnitintooltwo .peermark_assignments_cell .peermarkDetails tr.lastrow td {
    border-bottom: 0;
}

.mod_turnitintooltwo td a.editable-click {
    border:none;
    background:url(../pix/edit.png) right -4px no-repeat;
    padding-right: 24px;
}

.mod_turnitintooltwo .submissionsDataTable {
    width:100%;
}

.mod_turnitintooltwo .submissionsDataTable a {
    text-decoration: none;
}

.mod_turnitintooltwo .score_colour {
    background-image:url(../pix/gradback.jpg);
    width:36px;
    display:inline-block;
    float:right;
}

.mod_turnitintooltwo .score_colour_ { background: #999999; }
.mod_turnitintooltwo .score_colour_0 { background-position: 0% 0%; }
.mod_turnitintooltwo .score_colour_10 { background-position: 0% 10%; }
.mod_turnitintooltwo .score_colour_20 { background-position: 0% 20%; }
.mod_turnitintooltwo .score_colour_30 { background-position: 0% 30%; }
.mod_turnitintooltwo .score_colour_40 { background-position: 0% 40%; }
.mod_turnitintooltwo .score_colour_50 { background-position: 0% 50%; }
.mod_turnitintooltwo .score_colour_60 { background-position: 0% 60%; }
.mod_turnitintooltwo .score_colour_70 { background-position: 0% 70%; }
.mod_turnitintooltwo .score_colour_80 { background-position: 0% 80%; }
.mod_turnitintooltwo .score_colour_90 { background-position: 0% 90%; }
.mod_turnitintooltwo .score_colour_100 { background-position: 0% 100%; }

.mod_turnitintooltwo .grademark_open, .mod_turnitintooltwo .grademark_grade, 
.mod_turnitintooltwo .origreport_score {
    float:right;
}

.mod_turnitintooltwo .grademark_grade, .mod_turnitintooltwo .origreport_score {
    padding-right:8px;
}

.mod_turnitintooltwo .student_read, .mod_turnitintooltwo .centered_cell, .mod_turnitintooltwo .centered_div {
    text-align:center !important;
}

.mod_turnitintooltwo .centered_cb_cell {
    padding-right:8px;
    padding-left:8px;
}

body[class*='-moodle23'] .mod_turnitintooltwo  .centered_cb_cell input {
    position: relative;
    left: -1px;
}

.mod_turnitintooltwo .enrolledMembers .left, .mod_turnitintooltwo .submissionsDataTable .left, 
.mod_turnitintooltwo .partDetails .left {
    text-align:left;
}

.mod_turnitintooltwo .submissionsDataTable .right, .mod_turnitintooltwo #courseBrowserTable .right {
    text-align:right;
}

.mod_turnitintooltwo .student_read img {
    position:relative;
    top:3px;
}

.mod_turnitintooltwo .scrollbox {
    overflow: scroll;
}

.mod_turnitintooltwo .enrol_link, .mod_turnitintooltwo .enrolling_container, 
.mod_turnitintooltwo .refresh_link, .mod_turnitintooltwo .refreshing_link, .mod_turnitintooltwo .messages_inbox {
    float:right;
    width: 190px;
}

.mod_turnitintooltwo .messages_inbox {
    text-decoration: none;
    padding: 2px 4px 6px 0px;
    width: 215px;
}

.mod_turnitintooltwo .enrol_link {
    padding: 6px 18px 0 0;
}

.mod_turnitintooltwo .refresh_link, .mod_turnitintooltwo .refreshing_link {
    padding: 2px 16px 0 12px;
}

.mod_turnitintooltwo .enrolling_container {
    padding: 4px 18px 0 0;
}

.mod_turnitintooltwo .refresh_link img, .mod_turnitintooltwo .refreshing_link img, .mod_turnitintooltwo .enrol_link img, 
.mod_turnitintooltwo .enrolling_container img, .mod_turnitintooltwo .messages_inbox img {
    position: relative;
    top:4px;
}

.mod_turnitintooltwo #id_submissiontext {
    width:80%;
    height:320px;
}

.mod_turnitintooltwo #submitpaper .fcheckbox label {
    padding-left:12px;
}

.mod_turnitintooltwo .turnitin_ula {
    width: 355px;
    margin: 0 auto;
    cursor:pointer;
    text-decoration: underline;
}

#colorbox {
    margin-top: 60px;
    outline: 0 !important;
    overflow: visible !important;
}

#cboxContent {
    margin-top: 0 !important;
}

#tii_close_bar {
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, .3);
}

#tii_close_bar a {
    color: #fff;
    display: block;
    background: #000;
    width: 100px;
    text-align: center;
    float: right;
    text-decoration: none;
    height: 45px;
    line-height: 43px;
}

.cboxIframe {
    border-radius: 5px;
}

#page-mod-turnitintooltwo-view div {
    margin-bottom: 0;
}

#page-mod-turnitintooltwo-view .region-content {
    padding: 0;
}

.turnitin_ula_text {
    padding-top: 15px;
    text-align: center;
}

.turnitin_ula input[type="submit"] {
    margin: 0;
}

#cboxContent {
    margin-top: 0;
}

h3.main {
    line-height: 40px;
}

.tii_upgrade_check,
.tii_upgrading_check {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.tii_upgrade_check img,
.tii_upgrading_check img {
    padding: 0 0 5px 5px;
    vertical-align: middle;
}

.mod_turnitintooltwo .fitem_fbutton {
    padding-top:12px;
}

.mod_turnitintooltwo span.dimmed {
    color:#999999;
}

.mod_turnitintooltwo #assignmentBrowserTable_wrapper {
    padding: 10px;
}

.mod_turnitintooltwo .nowrap {
    white-space:nowrap;
}

.mod_turnitintooltwo .italic {
    font-style: italic;
}

.mod_turnitintooltwo .bold, .mod_turnitintooltwo #or_container {
    font-weight:bold;
}

.mod_turnitintooltwo span.link {
    color: #0000FF;
}

.mod_turnitintooltwo #submitting_loader, .mod_turnitintooltwo #refresh_loading {
    display:none;
    padding: 16px 0 8px;
    text-align: center;
}

.mod_turnitintooltwo p.progress_text {
    color:#333333;
    margin-bottom: 12px;
}

.mod_turnitintooltwo noscript.warning, .mod_turnitintooltwo .library_not_present_warning,
.mod_turnitintooltwo .general_warning, .mod_turnitintooltwo #error {
    border: 1px solid #CC0000;
    padding: 8px;
    background: #FFE9E8;
    width: 99%;
    text-align:center;
    display:block;
    margin-bottom:6px;
}

.mod_turnitintooltwo #error {
    margin-left:24px;
    margin-right:24px;
    width:96%;
}

.mod_turnitintooltwo .submission_failure_msg, .mod_turnitintooltwo .box_receipt {
    padding: 16px;
}

.mod_turnitintooltwo .submission_failure_msg .general_warning {
    margin-top: 16px;
    width: auto;
}

.mod_turnitintooltwo #enrolling_error {
    margin-top: 8px;
}

.mod_turnitintooltwo .delete_link {
    margin-left: 16%;
    position: relative;
    top:-4px;
}

.mod_turnitintooltwo .delete_link img {
    position: relative;
    top:2px;
    left:4px;
}

/* Datatables styles */

.mod_turnitintooltwo .partDetails .navbar .dataTables_filter {
    float: none;
}

.mod_turnitintooltwo th.narrow, .mod_turnitintooltwo td.narrow {
    width: 60px;
}

.mod_turnitintooltwo .dataTables_wrapper table.dataTable {
    font-size: 13px;
    border:1px solid #999999;
    width:100% !important;
}

.mod_turnitintooltwo .dataTables_wrapper table.dataTable th {
    padding-top: 12px;
    padding-bottom: 8px;
}

.mod_turnitintooltwo table.dataTable thead th.sorting_disabled {
    cursor: default;
}

.mod_turnitintooltwo .dataTables_wrapper table.dataTable td {
    padding: 8px 10px 2px;
    font-size: 13px;
    vertical-align: top;
}

.mod_turnitintooltwo .dataTables_wrapper table.dataTable th.left {
    text-align: left;
}

.mod_turnitintooltwo .dataTables_info, .mod_turnitintooltwo .dataTables_paginate {
    padding-top: 6px;
}

.mod_turnitintooltwo .upload_box {
    white-space:nowrap;
}

.mod_turnitintooltwo .student_dot_icon, .mod_turnitintooltwo .student_read_icon, 
.mod_turnitintooltwo .download_original_open img, .mod_turnitintooltwo .upload_box img, 
.mod_turnitintooltwo .upload_box span {
    position: relative;
}

.mod_turnitintooltwo .upload_box span {
    top: -7px;
    padding-right: 6px;
}

.mod_turnitintooltwo .student_dot_icon, .mod_turnitintooltwo .download_original_open img, .mod_turnitintooltwo .upload_box img {
    top:-3px;
}

.mod_turnitintooltwo .student_read_icon {
    top:-1px;
}

.mod_turnitintooltwo .dataTables_length, .mod_turnitintooltwo .dataTables_filter {
    padding:6px 0;
}

.mod_turnitintooltwo .dataTables_wrapper .navbar {
    margin:2px 0;
    padding:0 10px;
}

.mod_turnitintooltwo #courseBrowserTable_wrapper .dataTables_processing {
    top: 70px !important;
}

.mod_turnitintooltwo .dt_pagination {
    font-size:12px;
    clear: both;
}

.mod_turnitintooltwo .dt_pagination .dataTables_paginate a.paginate_disabled_previous, 
.mod_turnitintooltwo .dt_pagination .dataTables_paginate a.paginate_enabled_previous {
    background-position: left -2px;
}

.mod_turnitintooltwo .dt_pagination .dataTables_paginate a.paginate_disabled_next, 
.mod_turnitintooltwo .dt_pagination .dataTables_paginate a.paginate_enabled_next {
    background-position: right -2px;
}

.mod_turnitintooltwo .dt_pagination .dataTables_info {
    float:left;
    clear:none;
}

.mod_turnitintooltwo .dt_pagination .dataTables_paginate {
    float:right;
    margin-bottom: 4px;
}

/* Submission Upload Form Iframe */

.mod_turnitintooltwo .iframe_submission_form {
    width:100%;
    border:0;
    height:580px;
}

.mod_turnitintooltwo #upload_success {
    color: #CC0000;
}

.mod_turnitintooltwo .hide_peermarks, .mod_turnitintooltwo .show_peermarks {
    padding-left: 20px;
}

.mod_turnitintooltwo .class_recreation {
    margin-top:16px;
    padding-bottom: 20px;
}

.mod_turnitintooltwo #box_receipt {
    position:relative;
    top:16px;
}

.mod_turnitintooltwo .edit_course_end_link {
    position: relative;
    top: -2px;
}

.mod_turnitintooltwo .edit_course_end_link span {
    position: relative;
    top: -4px;
}

.mod_turnitintooltwo .create_checkboxes {
    padding: 6px 6px 6px;
    margin:0;
    display:none;
}

.mod_turnitintooltwo .create_checkboxes div {
    display:inline;
}

.mod_turnitintooltwo .create_checkboxes .create_assign_checkbox_container {
    padding: 0 24px;
}

.mod_turnitintooltwo .create_checkboxes input {
    margin-right:4px;
    position: relative;
    top:2px;
}

.mod_turnitintooltwo .course_creation_bulk_msg {
    margin-bottom: 16px;
}

.mod_turnitintooltwo .tii_upgrade_check, .mod_turnitintooltwo .tii_upgrading_check {
    font-size: 12px;
}

.mod_turnitintooltwo .tii_upgrade_check {
    text-decoration: underline;
    cursor: pointer;
}

.default_open {
    cursor: pointer;
}

.mod_turnitintooltwo .tii_upgrading_check img {
    position: relative;
    top: 3px;
}

#page-admin-setting-modsettingturnitintooltwo .offline_status .offline {
    display: inline;;
    border: 1px solid #CC0000;
    background: #E77471;
    padding: 4px;
}

#page-admin-setting-modsettingturnitintooltwo #test_link, #page-admin-setting-modsettingturnitintooltwo #testing_container {
    margin-bottom:8px;
}

#page-admin-setting-modsettingturnitintooltwo #test_link img {
    position: relative;
    top:4px;
}

#page-admin-setting-modsettingturnitintooltwo #test_result {
    margin: 4px 0 0;
    padding: 5px 10px;
    width: 300px;
}

#page-admin-setting-modsettingturnitintooltwo .test_link_success {
    border: 1px solid #00CC00;
    background: #C3FDB8;
}

#page-admin-setting-modsettingturnitintooltwo .test_link_fail {
    border:1px solid #CC0000;
    background: #E77471;
}

#page-admin-setting-modsettingturnitintooltwo #testing_container {
    margin-top:4px;
}

#page-admin-setting-modsettingturnitintooltwo #testing_container img {
    position: relative;
    top:2px;
}

#page-admin-setting-modsettingturnitintooltwo fieldset.error div.form-item {
    border: 1px solid red;
    padding-top: 12px;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

#page-admin-setting-modsettingturnitintooltwo fieldset.error div.form-item,
#page-admin-setting-modsettingturnitintooltwo fieldset.error div.form-description {
    color: #B94A48;
}

.mod_turnitintooltwo .tabtree {
    margin-bottom:16px;
}

.mod_turnitintooltwo .rubric_manager_launch, .mod_turnitintooltwo .rubric_view_launch {
    background:url(../pix/rubric.png) no-repeat 0px 0px;
    padding:4px 0 4px 32px;
    line-height: 22px;
    margin-left: 6px;
}

.mod_turnitintooltwo .quickmark_manager_launch {
    background:url(../pix/quickmark.png) no-repeat 0px 0px;
    padding: 2px 0 2px 40px;
    height: 20px;
}

.mod_turnitintooltwo .peermark_header {
    margin-bottom:8px;
    float:left;
}

.mod_turnitintooltwo .peermark_manager_launch, .mod_turnitintooltwo .peermark_reviews_launch {
    padding: 4px 0 4px 46px;
    height: 22px;
}

.mod_turnitintooltwo .peermark_manager_launch {
    background:url(../pix/peermark-settings.png) no-repeat 0px 0px;
}

.mod_turnitintooltwo .peermark_reviews_launch {
    background:url(../pix/peermark-reviews.png) no-repeat 0px 0px;
}

.mod_turnitintooltwo .editable_hide_span, .mod_turnitintooltwo .peermark_loading_span {
    position: relative;
    top:4px;
}

.mod_turnitintooltwo .peermark_loading_row {
    text-align: center;
    margin:0 auto 8px;
}

.mod_turnitintooltwo #course_search_options {
    margin-bottom: 6px;
}

.mod_turnitintooltwo #course_search_options label {
    padding-right:8px;
}

.mod_turnitintooltwo #course_search_options input, .mod_turnitintooltwo #course_search_options select {
    margin-right: 32px;
}
