/*
    Document   : styles_pp
    Created on : 11-Jan-2013, 14:47:55
    Author     : John McGettrick
    Description:
        Purpose of the stylesheet follows.
*/

.tii_links_container .pp_grademark_open img {
    padding-right: 8px;
}

.tii_links_container .launch_form, .tii_links_container .useragreement_form, .tii_links_container .turnitin_submit_error,
.tii_links_container .turnitin_eula_link, .tii_links_container #useragreement_form form, 
.tii_links_container .cmid, .plagiarism_submission, .plagiarism_submission, .pp_turnitin_cmid, .tii_useragreement_form,
#tii_view_context, .tii_links_container .grademark_forum_launch, .tii_links_container .origreport_forum_launch  {
    display:none;
}

.tii_links_container .pp_origreport, .tii_links_container .grade_icon, .tii_links_container .tii_error_icon,
.tii_links_container .row_rubric_view, .tii_links_container .row_peermark_reviews {
    float: left;
}

.tii_links_container .grade_icon {
    font-size: 8px;
    position: relative;
}

.forumpost .attachments .tii_links_container {
    clear: both;
    float: right;
}

.tii_links_container .row_rubric_view {
    position: relative;
    top:4px;
}

.tii_links_container .rubric_view_pp_launch {
    background:url(../pix/rubric.png) no-repeat 0px 0px;
    cursor:pointer;
    height: 34px;
    width:32px;
    display: block;
}

.tii_links_container a.rubric_view_pp_launch, .tii_links_container a.peermark_reviews_pp_launch {
    color:#000000;
}

.tii_links_container .peermark_reviews_pp_launch {
    background:url(../pix/peermark-reviews.png) no-repeat 0px 0px;
    cursor:pointer;
    padding: 4px 0 18px 36px;
    line-height: 28px;
    display: block;
}

.attachments .tii_links_container {
    float:right;
}

.tii_links_container {
    white-space: nowrap;
}

.tii_links_container .pp_grademark_open, .tii_links_container .pp_origreport_open {
    cursor:pointer;
}

.tii_links_container .pp_grademark_open {
    padding-top:6px;
    margin-bottom:6px;
}

.tii_links_container .pp_origreport {
    position:relative;
    top:4px;
    display:inline;
    margin-bottom:6px;
}

.tii_links_container .score_colour {
    background-image:url(../pix/gradback.jpg);
    width:36px;
    font-size:12px;
    display:inline-block;
    text-align: right;
    margin-right:8px;
    padding: 2px 2px;
}

.tii_links_container .score_colour_ { background: #999999; color:#000000; }
.tii_links_container .score_colour_0 { background-position: 0% 0%; color:#FFFFFF; }
.tii_links_container .score_colour_10 { background-position: 0% 10%; color:#FFFFFF; }
.tii_links_container .score_colour_20 { background-position: 0% 20%; color:#FFFFFF; }
.tii_links_container .score_colour_30 { background-position: 0% 30%; }
.tii_links_container .score_colour_40 { background-position: 0% 40%; }
.tii_links_container .score_colour_50 { background-position: 0% 50%; }
.tii_links_container .score_colour_60 { background-position: 0% 60%; }
.tii_links_container .score_colour_70 { background-position: 0% 70%; }
.tii_links_container .score_colour_80 { background-position: 0% 80%; color:#FFFFFF; }
.tii_links_container .score_colour_90 { background-position: 0% 90%; color:#FFFFFF; }
.tii_links_container .score_colour_100 { background-position: 0% 100%; color:#FFFFFF; }

.tii_links_container .origreport_score {
    white-space:nowrap;
}

.tii_links_container .score_no_orcapable {
    width:16px;
    text-align:center;
    color:#CC0000;
    background:#CCCCCC;
    cursor: normal;
}

.tii_links_container .turnitin_paper_id {
    padding-right:6px;
}

.tii_links_container .warning {
    border: 1px solid #CC0000;
    padding: 8px;
    background: #FFE9E8;
    width: 99%;
    text-align:center;
    display:block;
    margin-bottom:6px;
}

.tii_links_container .success {
    border: 1px solid #CC0000;
    padding: 8px;
    background: #FFFFFF;
    width: 100%;
    text-align:center;
    display:none;
    margin-bottom:6px;
}

.tii_links_container #ppErrors {
    width:100%;
}

#page-admin-plagiarism-turnitin-settings .left {
    text-align: left;
}

#page-admin-plagiarism-turnitin-settings .centered_cell {
    text-align: center;
}

#page-admin-plagiarism-turnitin-settings .row_peermark_manager {
    float:left;
    display:inline;
}

.plagiarism_turnitin_refresh_grades, .plagiarism_turnitin_refreshing_grades {
    float:right;
    display:inline;
    line-height: 28px;
    cursor: pointer;
    width:200px;
}

.plagiarism_turnitin_refresh_grades i, .plagiarism_turnitin_refreshing_grades i {
    position: relative;
    top: 4px;
}

.plagiarism_turnitin_refresh_grades span, .plagiarism_turnitin_refreshing_grades span {
    padding-left: 8px;
}

.plagiarism_turnitin_refreshing_grades {
    display: none;
}

.plagiarism_turnitin_peermark_manager_pp_launch {
    background:url(../pix/peermark-settings.png) no-repeat 0px 0px;
    cursor:pointer;
    padding: 4px 16px 4px 40px;
    display: inline;
    line-height: 28px;
}

.plagiarism_turnitin_quickmark_manager_launch {
    background:url(../pix/quickmark.png) no-repeat 0px 0px;
    padding: 2px 0px 2px 40px;
    display: inline;
    line-height: 28px;
}

.tii_links_container .forum_eula_launch_noscript, .tii_links_container .forum_eula_launch span, .pp_turnitin_ula {
    cursor:pointer;
    text-decoration: underline;
    text-align: center;
    border: 1px solid #CC0000;
    background:url([[pix:turnitintooltwo|icon]]) no-repeat center 12px;
    padding: 48px 12px 12px;
    color: #FF0000;
    margin-top:12px;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.pp_turnitin_ula {
    display: none;
}

noscript.turnitin_ula_noscript {
    border: 1px solid #CC0000;
    padding: 8px;
    background: #FFE9E8;
    width: 99%;
    text-align:center;
    display:block;
    margin:16px 6px;
    line-height: 28px;
}

.tii_links_container .turnitin_submit_error {
    width: auto;
    margin-top: 12px;
}

.tii_links_container .tii_error_icon {
    cursor: pointer;
}

.tii_links_container .eularedirect {
    text-align: center;
}