// Colours
$light-grey: #efefef;
$white: #fff;
$red: #FFE9E8;

// Table border colours
$border-color: $light-grey;

// Odd / Even colours for table
$odd-color: $light-grey;
$even-color: $white;

// Warning colours
$warning: $red;
$warning-border: darken($red, 20%);

// Table padding
$table-padding: 15px;
$table-head-padding: $table-padding - 5px;