/*
 * Listbar - Contains datatables links, dropdowns and search
 */

.listbar-container {
    display: table;
    width: 100%;
}

.listbar {
    background: #fff;
    border: 1px solid $border-color;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;

    label,
    input,
    select {
        margin: 0;
    }

    select,
    input {
        height: 30px;
        padding: 0 5px;
        border: 1px solid #EFEFEF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #fff;
    }

    .refresh_link,
    .refreshing_link,
    .nonsubmitters_link {
        float: right;
        margin-left: 30px;
        padding: 5px 0;
        width: 195px;
    }

    .nonsubmitters_link {
        text-decoration: none;
        display: none;
    }

    /*
     * Messages inbox link in listbar
     */
    .messages_inbox {
        float: right;
        margin-left: 30px;
        padding: 5px 0;
        text-decoration: none;
    }

    .messages_loading_span {
        float: none !important;
        margin: 0 !important;
    }

    .messages_inbox .smallicon {
        vertical-align: middle;
    }

    // Zip file download links
    .zip_downloads {
        float: left;
        position: relative;
        top: 4px;
        height: 22px;

        img {
            position:relative;
            top:4px;
            left:-2px;
        }

        div.origchecked_zip_open,
        a.gmpdfzip_box {
            padding:3px 16px;
            display: block;
        }

        a.gmpdfzip_box:hover {
            background: $hover-blue;
            color: $white;
        }

        .zip_open {
            display: inline;
        }
    }

    /*
     * DataTables filter (search bar)
     */
     .dataTables_filter {
        float: right !important;
        text-align: left !important;
    }

    /*
     * DataTables length (how many per page)
     */
     .dataTables_length {
        float: left !important;
    }
}